<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcelAdminBanners - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/custom.css" />

    <link rel="stylesheet" href="~/css/plugins/slick/slick.css" />
    <link rel="stylesheet" href="~/css/plugins/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/css/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/css/plugins/fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/icons/styles.css" />
    @*<link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert.css" />*@
    <link rel="stylesheet" href="~/css/plugins/sweetalert/sweetalert2.css" />
    <link rel="stylesheet" href="~/css/plugins/datapicker/datepicker.css" />
    <link rel="stylesheet" href="~/css/toastr/toastr.min.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/inspinia.js"></script>

    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/slick/slick.min.js"></script>
    <script src="~/js/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/js/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    @*<script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>*@
    <script src="~/js/plugins/sweetalert/sweetalert2.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/CustomLibrerias/jquery.history.js"></script>
    <script src="~/js/CustomLibrerias/utilidadesBitworks.js"></script>
    <script src="~/js/CustomLibrerias/BitworksAjaxNavigation.js"></script>
    <script src="~/js/ventanas/ventanas.js"></script>
    <script src="~/js/CustomLibrerias/customBitworks.js"></script>
    <script src="~/js/toastr/toastr.min.js"></script>
</body>
</html>
